version: '3'

services:
  # Frontend Service
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: ./Dockerfile
    command: 'npx nx serve tshirt-designer-frontend'
    # Ports mapping for frontend
    ports:
      - '8000:4200'
    depends_on:
      - backend

  # Backend Service
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./Dockerfile
    command: 'npx nx serve tshirt-designer-backend'
    # Ports mapping for backend
    ports:
      - '9000:9000'
